<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio Webpage</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='styles.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
    />
  </head>
  <body>
    <header>
      <nav id='navbar'>
        <a href='#about-section'>About me</a>
        <a href='#contact'>Contact Me</a>
      </nav>
    </header>
    <section id='welcome-section'>
      <h1>Hey, I'm <br /><span class='name'>Mervin John Tampus</span> .</h1>
      <div class='welcome-hero'>
        <img class='pic-svg' alt='Responsive svg from unDraw.co' src='https://firebasestorage.googleapis.com/v0/b/altruwiz-dev.appspot.com/o/fcc%2Fwebapps.svg?alt=media&token=5f68607c-930e-497e-bd2c-b79774f9391f' />
        <div class='welcome-hero-text'>
          <h2 class='service'>I build responsive web applications</h2>
          <a href='#projects'>My Projects</a>
        </div>
      </div>
    </section>
    <section id='about-section'>
      <div class='about-text'>    
        <h1>Let's work together!</h1>
        <p>I’m looking to build more apps to gain experience and hone my skills.</p>
      <div>
      <img class='pic-svg' alt='Co-workers svg from unDraw.co' src='https://firebasestorage.googleapis.com/v0/b/altruwiz-dev.appspot.com/o/fcc%2Fworktogether.svg?alt=media&token=e92c4755-e636-4a71-937e-2b701a9318e5' />
    </section>
    <section id='projects'>
      <h2>My Projects</h2>
      <div class='project-tile'>
        <div class='project-img-container'>
          <img src='https://firebasestorage.googleapis.com/v0/b/altruwiz-dev.appspot.com/o/fcc%2Fsurveyform.png?alt=media&token=2fe28fd0-8b20-475d-ac37-f31b874cb416' />
        </div>
        <div class='project-txt-container'>
          <h3>Survey Form</h3>
          <p>I built a survey form with html and css in freeCodeCamp’s Responsive Web Design Certification 2022.</p>
          <div class='row'>
            <i class="fab fa-html5 fa-3x"></i>
            <i class="fa-brands fa-css3-alt fa-3x"></i>
          </div>
        </div>
      </div>
      <div class='project-tile'>
        <div class='project-img-container'>
          <img src='https://firebasestorage.googleapis.com/v0/b/altruwiz-dev.appspot.com/o/fcc%2Ftribute.png?alt=media&token=429f6234-55ae-4ab2-8265-e85bb0eb088c' />
        </div>
        <div class='project-txt-container'>
          <h3>Tribute Page</h3>
          <p>I built a tribute page with html and css in freeCodeCamp’s Responsive Web Design Certification 2022.</p>
          <div class='row'>
            <i class="fab fa-html5 fa-3x"></i>
            <i class="fa-brands fa-css3-alt fa-3x"></i>
          </div>
        </div>
      </div>
      <div class='project-tile'>
        <div class='project-img-container'>
          <img src='https://firebasestorage.googleapis.com/v0/b/altruwiz-dev.appspot.com/o/fcc%2Fdocpage.png?alt=media&token=045d869b-1c73-48fa-964a-34d425a09b96' />
        </div>
        <div class='project-txt-container'>
          <h3>Documentation Page</h3>
          <p>I built a documentation page with html and css in freeCodeCamp’s Responsive Web Design Certification 2022.</p>
          <div class='row'>
            <i class="fab fa-html5 fa-3x"></i>
            <i class="fa-brands fa-css3-alt fa-3x"></i>
          </div>
        </div>
      </div>
      <div class='project-tile'>
        <div class='project-img-container'>
          <img src='https://firebasestorage.googleapis.com/v0/b/altruwiz-dev.appspot.com/o/fcc%2Fprodlanding.png?alt=media&token=b1ec71c6-605c-4a86-a4ef-b716e845efbc' />
        </div>
        <div class='project-txt-container'>
          <h3>Product Landing Page</h3>
          <p>I built a product landing page with html and css in freeCodeCamp’s Responsive Web Design Certification 2022.</p>
          <div class='row'>
            <i class="fab fa-html5 fa-3x"></i>
            <i class="fa-brands fa-css3-alt fa-3x"></i>
          </div>
        </div>
      </div>
    </section>
    <section id='contact'>
      <h1>Share your experience</h1>
      <p>Very grateful to freeCodeCamp for giving me a great experience. 
        I’d definitely encourage everyone to join #100DaysOfCode 
        challenge and connect with other enthusiasts.</p>
      <div class='contact-buttons'>
        <a id='profile-link' href='#' target='_blank'>Email</a>
        <a id='profile-link' href='#' target='_blank'>Twitter</a>
        <a id='profile-link' href='#' target='_blank'>LinkedIn</a>
        <a id='profile-link' href='#' target='_blank'>Github</a>
      </div>
    </section>
    <footer>
      <p class='footer-p'>All the projects here are all from my outputs 
        in Responsive Web Design Certification.</p>
      <p>© Created for freeCodeCamp 2022</p>
    </footer>
  </body>
</html>
